@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #07090F;
    color: whitesmoke;
    font-size: 16px;
    font-family: 'Sora', sans-serif;
}

* {
    box-sizing: border-box;
}

.hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(./images/portfolio-background-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: brightness(60%);
}


.header-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    width: 100vw;
    padding-left: 13rem;
    font-size: larger;
    letter-spacing: 0.19rem;
    color: white;
    /*position: fixed;*/
    z-index: 1;
    top: 2rem;
}


.header-nav li {
    display: inline;
    padding: 0 2rem;
}

.header-nav li:hover {
    color: #A4641A;
    cursor: pointer;
}

.hero-content {
    position: relative;
    color: white;
    text-align: left;
    margin: 2rem;
    padding-left: 10rem;
}

.hero-content h2 {
    font-weight: bold;
    font-size: 2rem;
}

.hero-content h1 {
    font-weight: bold;
    font-size: 4.5rem;
}

.hero-content span {
    background: -webkit-linear-gradient(90deg, #A4641A, #F1BF27);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-icons {
    margin-left: 3rem;
    margin-right: 3rem;
    font-size: 1.75rem;
    color: #F1BF27;
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;
    z-index: 2;
}

.services {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 1rem;
    margin: 1em 2em;
}

.services-decsription {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    gap: 2rem;
}

.services-box {
    /* #A4641A = 164, 100, 26
       #F1BF27= 241, 191, 39  */
    box-shadow: rgba(164, 100, 26, 0.12) 0px 2px 4px 0px,
    rgba(241, 191, 39, 0.32) 0px 2px 16px 0px;
    border-radius: 0.5rem;
    width: 33%;
    padding: 1rem;
    letter-spacing: 0.10rem;
    line-height: 1.25rem;
}
